@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);

.prediction_container{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.prediction_container .national_team_image{
  height: 79px;
  width: 79px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px 20px;
}

.prediction_container .title_container{
  display: flex;
  align-items: center;
}

.prediction_container .title_container .prediction_title{
  font-family: 'Cutive Mono';
  font-size: 40px;
}
